@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    font-family: "Roboto", sans-serif;
    background: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
img,
input,
form,
label,
span,
button,
.navbar,
nav,
div,
.navbar-brand,
.btn {
    padding: 0;
    margin: 0;
}

.html {
    scroll-behavior: smooth;
}

/* header_top start */
.header_top {
    background: #ffffff;
    border-bottom: 1px solid #6748EB;
    width: 100%; /* Full width for background to cover the entire body */
}

.header_top .row {
    max-width: 1280px; /* Constrain content width */
    margin: 0 auto; /* Center the content */
    padding: 30px 0px; /* Padding for content */
}
.header_top_item a img {
    padding-left: 0px;
}

.header_top_item a {
    font-size: 15px;
    color: #222;
    font-weight: 500;
    position: relative;
    padding: 0px 15px;
    text-transform: uppercase;
}

.header_top_item a::after {
    position: absolute;
    height: 100%;
    width: 1px;
    background: #dddddd;
    right: 0;
    top: 0;
    content: "";
}

.header_top_item a:last-child::after {
    opacity: 0;
}

.header_top_item a i {
    color: #6748EB;
    font-size: 20px;
    padding-right: 20px;
}

.header_top_icon a {
    display: block;
    padding: 0px 0px;
    font-size: 25px;
    color: #6748EB;
    margin-top: 5px;
}

.header_top_icon:hover a {
    color: #6748EB;
}

.home_icon a i {
    padding-right: 5px;
}

/* header end */

/* footer start */
.footer {
    background: #ffffff;
    padding: 40px 40px;
    border-top: 1px solid #6748EB;
}

/* footer end */
