 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     outline: 0;
 }

 ol,
 ul {
     list-style-type: none;
 }

 a {
     text-decoration: none;
 }

 img {
     vertical-align: middle;
 }

 body {
     font-family: 'Roboto', sans-serif;
     background: #efefef;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 a,
 ul,
 ol,
 li,
 img,
 input,
 form,
 lebel,
 span,
 button,
 .navbar,
 nav,
 div,
 .navbar-brand,
 .btn {
     padding: 0;
     margin: 0;
 }

 .html {
     scroll-behavior: smooth;
 }

 .container {

 }

 /* header_top  start */
 .header_top {
     background: #ffffff;
     padding: 25px 0px;
     margin-top: 20px;
     border-bottom: 1px solid #7367F0;
 }

 .header_top_item a img {
     padding-left: 20px;

 }

 .header_top_item a {
     font-size: 15px;
     color: #222;
     font-weight: 500;
     position: relative;
     padding: 0px 15px;
     text-transform: uppercase;
 }

 .header_top_item a::after {
     position: absolute;
     height: 100%;
     width: 1px;
     background: #DDDDDD;
     right: 0;
     top: 0;
     content: '';
 }

 .header_top_item a:last-child::after {
     opacity: 0;
 }

 .header_top_item a i {
     color: #7367F0;
     font-size: 20px;
     padding-right: 20px;
 }

 .header_top_icon a {
     display: block;
     padding: 0px 12px;
     font-size: 23px;
     color: #000;
 }
.header_top_icon:hover a {
    color: #7367F0;
}

 .home_icon a i {
     padding-right: 5px;
 }

 /* header end */

 /*footer start*/
 .footer {
     background: #ffffff;
     padding: 40px 40px;
     margin-bottom: 30px;
 }
 /*footer end*/
